<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="76x76" href="./img/apple-icon.png">
	<link rel="icon" type="image/png" href="./img/favicon.png">
	<title>
		Soft UI Dashboard by Creative Tim
	</title>
	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link id="pagestyle" href="/vendors/bootstrap5/bootstrap.min.css" rel="stylesheet"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendors/hamburger/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendors/fontawesome/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendors/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendors/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/sign-in.css">
</head>

<body class="g-sidenav-show  bg-gray-100">

{{{ body }}}

<script src="/vendors/bootstrap5/bootstrap.min.js"></script>
<script src="/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="/vendors/js/popper.js"></script>
<script src="/vendors/select2/select2.min.js"></script>
<script src="/vendors/title/tilt.jquery.min.js"></script>
<script src="/js/sign-in.js"></script>
<script >
	$('.js-tilt').tilt({
		scale: 1.1
	})
</script>
</body>

</html>